<div class="navbar">
    <ul class="nav-links">
        <li><a href="#home" class="active">Accueil</a></li>
        <li><a href="#realisation">Réalisations</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>        
</div>

<div class="cards-container">
    <div class="card main-card">
        <div class="text-content">
            <h1>Hello World</h1>
            <p>Je suis Théo Chelly, passionné par l'informatique, l'automobile et les voyages. Actuellement étudiant en deuxième année à l'IPI, école d'informatique, je cherche à développer mes compétences et acquérir de l'expérience dans ces domaines.</p>
            <a class="CV" href="../assets/CHELLY_CV.pdf" download>Télécharger mon CV</a>
        </div>
        <img class="moi" src="../assets/moi.jpg" alt="Moi">
    </div>

    <div class="right-column">
        <div class="project-card">
            <a href="#realisation">
                <img class="project-image" src="../assets/mylaboaccess.png" alt="projet">
                <div class="project-info">
                    <p>Découvrez mes derniers projets</p>
                    <svg class="arrow-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 12H19M19 12L12 5M19 12L12 19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </a>
        </div>
        <a href="#contact" class="discutons-btn">
            Discutons 👋
        </a>
    </div>
</div>

