<link rel="stylesheet" href="./realisation.css">
<body class="realisation">
     <div class="navbar">
        <ul class="nav-links">
            <li><a href="#home">Accueil</a></li>
            <li><a href="#realisation" class="active">Réalisations</a></li>
            <li><a href="#contact">Contact</a></li>
           </ul>        
        </div>
   
        
        <div class="container swiper">
         <div class="card-wrapper swiper">
             <ul class="card-list swiper-wrapper">
                 <li class="card-item swiper-slide">
                    <a href="https://github.com/theoc0702/MyLaboAccess" class="card-link">
                         <img src="assets/mylaboaccess.png" alt="Card mage" class="card-image">
                        <p class="badge flutter">Flutter</p>
                         <h2 class="card-title">Application mobile sur Android permettant d'eumprunter le matériel d'un laboratoire.</h2>
                         <button class="card-button material-symbols-outlined">
                             arrow_forward
                         </button>
                     </a>
                  </li>
                  <li class="card-item swiper-slide">
                      <a href="https://theoc0702.github.io/Login" class="card-link">
                           <img src="assets/Login.png" alt="Card mage" class="card-image">
                          <p class="badge jQuery">jQuery</p>
                           <h2 class="card-title">Simple page de login pour tester mes compétences en jQuery</h2>
                           <button class="card-button material-symbols-outlined">
                               arrow_forward
                           </button>
                       </a>
                  </li>
                  <li class="card-item swiper-slide">
                      <a href="https://theoc0702.github.io/BibiCar" class="card-link">
                           <img src="assets/car.png" alt="Card mage" class="card-image">
                          <p class="badge CSS">CSS</p>
                           <h2 class="card-title">Simple site web de passionné automobile.</h2>
                           <button class="card-button material-symbols-outlined">
                               arrow_forward
                           </button>
                       </a>
                  </li>
                  <li class="card-item swiper-slide">
                      <a href="https://theoc0702.github.io/Tirage/" class="card-link">
                           <img src="assets/tirage.jpg" alt="Card mage" class="card-image">
                          <p class="badge JS">JavaScript</p>
                           <h2 class="card-title">Site Web permettant de tirer au sort des élèves</h2>
                           <button class="card-button material-symbols-outlined">
                               arrow_forward
                           </button>
                       </a>
                  </li>
                  <li class="card-item swiper-slide">
                      <a href="https://theoc0702.github.io/pixela/" class="card-link">
                           <img src="../assets/pixela.png" alt="Card mage" class="card-image">
                          <p class="badge jQuery">jQuery</p>
                           <h2 class="card-title">Application web avec API permettant de créer un compte, se connecter et gérer des graphes semblables à ceux de github.</h2>
                           <button class="card-button material-symbols-outlined">
                               arrow_forward
                           </button>
                       </a>
                  </li>
              </ul>
 
              <div class="swiper-pagination"></div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
 
          </div>
      </div>
 
</body>